In [252]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


import logging
logging.basicConfig(level=logging.INFO)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [253]:
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

# Results.csv

In [254]:
names = ['resultId',
             'raceId',
             'driverId',
             'constructorId',
             'number',
             'grid',
             'position',
             'positionText',
             'positionOrder',
             'points',
             'laps',
             'time',
             'milliseconds',
             'fastestLap',
             'rank',
             'fastestLapTime',
             'fastestLapSpeed',
             'statusId']
results = pd.read_csv('../new_data/results.csv', names = names)

In [255]:
# see results of last race, 20 drivers
results.tail(20)

       resultId  raceId  driverId  constructorId number  grid position positionText  positionOrder  points  laps         time milliseconds fastestLap rank fastestLapTime fastestLapSpeed  statusId
24277     24283    1014         1            131     44     2        1            1              1    26.0    66  1:35:50.443      5750443         54    1       1:18.492         213.499         1
24278     24284    1014       822            131     77     1        2            2              2    18.0    66       +4.074      5754517         55    2       1:18.737         212.835         1
24279     24285    1014       830              9     33     4        3            3              3    15.0    66       +7.679      5758122         57    3       1:19.769         210.081         1
24280     24286    1014        20              6      5     3        4            4              4    12.0    66       +9.167      5759610         64    4       1:19.820         209.947         1
24281     24287    1014       844              6     16     5        5            5              5    10.0    66      +13.361      5763804         57    5       1:20.002         209.469         1
24282     24288    1014       842              9     10     6        6            6              6     8.0    66      +19.576      5770019         57    6       1:20.536         208.080         1
24283     24289    1014       825            210     20     8        7            7              7     6.0    66      +28.159      5778602         66    9       1:20.770         207.478         1
24284     24290    1014       832              1     55    12        8            8              8     4.0    66      +32.342      5782785         59   10       1:20.859         207.249         1
24285     24291    1014       826              5     26     9        9            9              9     2.0    66      +33.056      5783499         64    8       1:20.726         207.591         1
24286     24292    1014       154            210      8     7       10           10             10     1.0    66      +34.641      5785084         64   12       1:21.057         206.743         1
24287     24293    1014       848              5     23    11       11           11             11     0.0    66      +35.445      5785888         65   11       1:21.028         206.817         1
24288     24294    1014       817              4      3    13       12           12             12     0.0    66      +36.758      5787201         56    7       1:20.615         207.876         1
24289     24295    1014       807              4     27     0       13           13             13     0.0    66      +39.241      5789684         65   13       1:21.282         206.171         1
24290     24296    1014         8             51      7    14       14           14             14     0.0    66      +41.803      5792246         66   14       1:21.382         205.917         1
24291     24297    1014       815            211     11    15       15           15             15     0.0    66      +46.877      5797320         65   16       1:21.859         204.717         1
24292     24298    1014       841             51     99    18       16           16             16     0.0    66      +47.691      5798134         64   15       1:21.833         204.782         1
24293     24299    1014       847              3     63    19       17           17             17     0.0    65           \N           \N         64   17       1:22.382         203.418        11
24294     24300    1014         9              3     88    17       18           18             18     0.0    65           \N           \N         65   19       1:23.202         201.413        11
24295     24301    1014       840            211     18    16       \N           19             19     0.0    44           \N           \N         28   20       1:23.226         201.355         4
24296     24302    1014       846              1      4    10       \N           20             20     0.0    44           \N           \N         28   18       1:22.561         202.977         4

# Create new index, resultId and raceId

In [256]:
# copy last race result from result.csv
DRIVER_AMOUNT = 20

def create_new_race(df):
    return df.tail(DRIVER_AMOUNT)

In [257]:
new_race = create_new_race(results)

In [258]:
new_race.head(2)

       resultId  raceId  driverId  constructorId number  grid position positionText  positionOrder  points  laps         time milliseconds fastestLap rank fastestLapTime fastestLapSpeed  statusId
24277     24283    1014         1            131     44     2        1            1              1    26.0    66  1:35:50.443      5750443         54    1       1:18.492         213.499         1
24278     24284    1014       822            131     77     1        2            2              2    18.0    66       +4.074      5754517         55    2       1:18.737         212.835         1

## Create new index

In [172]:
last_index = results.index.max()
new_index = last_index + 1

index_list = [i for i in range(new_index, new_index + DRIVER_AMOUNT)]

In [173]:
def set_index_new_race(df):
    return df.set_index([pd.Index(index_list)])

In [174]:
new_race = set_index_new_race(new_race)

In [175]:
new_race.head(2)

       resultId  raceId  driverId  constructorId number  grid position positionText  positionOrder  points  laps         time milliseconds fastestLap rank fastestLapTime fastestLapSpeed  statusId
24297     24283    1014         1            131     44     2        1            1              1    26.0    66  1:35:50.443      5750443         54    1       1:18.492         213.499         1
24298     24284    1014       822            131     77     1        2            2              2    18.0    66       +4.074      5754517         55    2       1:18.737         212.835         1

## Create new resultId

In [176]:
last_resultId = results['resultId'].max()
new_resultId = last_resultId + 1

resultId_list = [i for i in range(new_resultId, new_resultId + DRIVER_AMOUNT)]

In [177]:
def new_resultId(df):
    df['resultId'] = resultId_list
    return df

In [178]:
new_race = new_resultId(new_race)

In [179]:
new_race.head(2)

       resultId  raceId  driverId  constructorId number  grid position positionText  positionOrder  points  laps         time milliseconds fastestLap rank fastestLapTime fastestLapSpeed  statusId
24297     24303    1014         1            131     44     2        1            1              1    26.0    66  1:35:50.443      5750443         54    1       1:18.492         213.499         1
24298     24304    1014       822            131     77     1        2            2              2    18.0    66       +4.074      5754517         55    2       1:18.737         212.835         1

## Create new raceId

In [180]:
last_raceId = results['raceId'].max()
new_raceId = last_raceId + 1

In [182]:
def set_new_raceId(df):
    df['raceId'] = new_raceId
    return df

In [190]:
new_race = set_new_raceId(new_race)

-------------------------

## Concatenate the results.csv and new_race

In [193]:
def concat_results(results_df, new_racedf):
    return pd.concat([results_df, new_racedf])

In [194]:
new_results = concat_results(results, new_race)

-------------------------------

In [240]:
# pipe
def new_results():
    return (create_new_race(results)
    .pipe(set_index_new_race)
    .pipe(new_resultId)
    .pipe(set_new_raceId)
        )

In [241]:
test = new_results()

In [242]:
test

       resultId  raceId  driverId  constructorId number  grid position positionText  positionOrder  points  laps         time milliseconds fastestLap rank fastestLapTime fastestLapSpeed  statusId
32246     24303    1015         1            131     44     2        1            1              1    26.0    66  1:35:50.443      5750443         54    1       1:18.492         213.499         1
32247     24304    1015       822            131     77     1        2            2              2    18.0    66       +4.074      5754517         55    2       1:18.737         212.835         1
32248     24305    1015       830              9     33     4        3            3              3    15.0    66       +7.679      5758122         57    3       1:19.769         210.081         1
32249     24306    1015        20              6      5     3        4            4              4    12.0    66       +9.167      5759610         64    4       1:19.820         209.947         1
32250     24307    1015       844              6     16     5        5            5              5    10.0    66      +13.361      5763804         57    5       1:20.002         209.469         1
32251     24308    1015       842              9     10     6        6            6              6     8.0    66      +19.576      5770019         57    6       1:20.536         208.080         1
32252     24309    1015       825            210     20     8        7            7              7     6.0    66      +28.159      5778602         66    9       1:20.770         207.478         1
32253     24310    1015       832              1     55    12        8            8              8     4.0    66      +32.342      5782785         59   10       1:20.859         207.249         1
32254     24311    1015       826              5     26     9        9            9              9     2.0    66      +33.056      5783499         64    8       1:20.726         207.591         1
32255     24312    1015       154            210      8     7       10           10             10     1.0    66      +34.641      5785084         64   12       1:21.057         206.743         1
32256     24313    1015       848              5     23    11       11           11             11     0.0    66      +35.445      5785888         65   11       1:21.028         206.817         1
32257     24314    1015       817              4      3    13       12           12             12     0.0    66      +36.758      5787201         56    7       1:20.615         207.876         1
32258     24315    1015       807              4     27     0       13           13             13     0.0    66      +39.241      5789684         65   13       1:21.282         206.171         1
32259     24316    1015         8             51      7    14       14           14             14     0.0    66      +41.803      5792246         66   14       1:21.382         205.917         1
32260     24317    1015       815            211     11    15       15           15             15     0.0    66      +46.877      5797320         65   16       1:21.859         204.717         1
32261     24318    1015       841             51     99    18       16           16             16     0.0    66      +47.691      5798134         64   15       1:21.833         204.782         1
32262     24319    1015       847              3     63    19       17           17             17     0.0    65           \N           \N         64   17       1:22.382         203.418        11
32263     24320    1015         9              3     88    17       18           18             18     0.0    65           \N           \N         65   19       1:23.202         201.413        11
32264     24321    1015       840            211     18    16       \N           19             19     0.0    44           \N           \N         28   20       1:23.226         201.355         4
32265     24322    1015       846              1      4    10       \N           20             20     0.0    44           \N           \N         28   18       1:22.561         202.977         4

# driverstandings.csv

In [199]:
names = ['driverStandingsId',
             'raceId',
             'driverId',
             'points',
             'position',
             'positionText',
             'wins']

driverstandings = pd.read_csv('../new_data/driver_standings.csv', names=names)

In [227]:
driverstandings.tail(20)

       driverStandingsId  raceId  driverId  points  position positionText  wins
32226              69308    1014       832    10.0        11           11     0
32227              69307    1014       817     6.0        12           12     0
32228              69306    1014       154     1.0        17           17     0
32229              69305    1014         9     0.0        20           20     0
32230              69303    1014       841     0.0        18           18     0
32231              69302    1014       848     3.0        15           15     0
32232              69299    1014       842    21.0         6            6     0
32233              69297    1014       840     4.0        14           14     0
32234              69296    1014         8    13.0         9            9     0
32235              69293    1014       844    57.0         5            5     0
32236              69291    1014       830    66.0         3            3     0
32237              69290    1014         1   112.0         1            1     3
32238              69301    1014       815    13.0         8            8     0
32239              69298    1014       826     3.0        16           16     0
32240              69300    1014       846    12.0        10           10     0
32241              69289    1014       822   105.0         2            2     2
32242              69304    1014       847     0.0        19           19     0
32243              69292    1014        20    64.0         4            4     0
32244              69295    1014       807     6.0        13           13     0
32245              69294    1014       825    14.0         7            7     0

# Create nex index, driverstandingsId and raceId

In [218]:
# use the same function as for results
new_driverstandings = create_new_race(driverstandings)

In [219]:
new_driverstandings

       driverStandingsId  raceId  driverId  points  position positionText  wins
32226              69308    1014       832    10.0        11           11     0
32227              69307    1014       817     6.0        12           12     0
32228              69306    1014       154     1.0        17           17     0
32229              69305    1014         9     0.0        20           20     0
32230              69303    1014       841     0.0        18           18     0
32231              69302    1014       848     3.0        15           15     0
32232              69299    1014       842    21.0         6            6     0
32233              69297    1014       840     4.0        14           14     0
32234              69296    1014         8    13.0         9            9     0
32235              69293    1014       844    57.0         5            5     0
32236              69291    1014       830    66.0         3            3     0
32237              69290    1014         1   112.0         1            1     3
32238              69301    1014       815    13.0         8            8     0
32239              69298    1014       826     3.0        16           16     0
32240              69300    1014       846    12.0        10           10     0
32241              69289    1014       822   105.0         2            2     2
32242              69304    1014       847     0.0        19           19     0
32243              69292    1014        20    64.0         4            4     0
32244              69295    1014       807     6.0        13           13     0
32245              69294    1014       825    14.0         7            7     0

## New index

In [216]:
last_index = driverstandings.index.max()
new_index = last_index + 1

index_list = [i for i in range(new_index, new_index + DRIVER_AMOUNT)]

In [220]:
new_driverstandings = set_index_new_race(new_driverstandings)

In [221]:
new_driverstandings

       driverStandingsId  raceId  driverId  points  position positionText  wins
32246              69308    1014       832    10.0        11           11     0
32247              69307    1014       817     6.0        12           12     0
32248              69306    1014       154     1.0        17           17     0
32249              69305    1014         9     0.0        20           20     0
32250              69303    1014       841     0.0        18           18     0
32251              69302    1014       848     3.0        15           15     0
32252              69299    1014       842    21.0         6            6     0
32253              69297    1014       840     4.0        14           14     0
32254              69296    1014         8    13.0         9            9     0
32255              69293    1014       844    57.0         5            5     0
32256              69291    1014       830    66.0         3            3     0
32257              69290    1014         1   112.0         1            1     3
32258              69301    1014       815    13.0         8            8     0
32259              69298    1014       826     3.0        16           16     0
32260              69300    1014       846    12.0        10           10     0
32261              69289    1014       822   105.0         2            2     2
32262              69304    1014       847     0.0        19           19     0
32263              69292    1014        20    64.0         4            4     0
32264              69295    1014       807     6.0        13           13     0
32265              69294    1014       825    14.0         7            7     0

## Create driverStandingsId

In [248]:
last_driverStandingsId = driverstandings['driverStandingsId'].max()
new_driverStandingsId = last_driverStandingsId + 1

driverStandingsId_list = [i for i in range(new_driverStandingsId, new_driverStandingsId + DRIVER_AMOUNT)]

In [249]:
driverStandingsId_list

[69309,
 69310,
 69311,
 69312,
 69313,
 69314,
 69315,
 69316,
 69317,
 69318,
 69319,
 69320,
 69321,
 69322,
 69323,
 69324,
 69325,
 69326,
 69327,
 69328]

In [229]:
def new_driverStandingsId(df):
    df['driverStandingsId'] = driverStandingsId_list
    return df

In [230]:
new_driverstandings = new_driverStandingsId(new_driverstandings)

In [232]:
new_driverstandings.head(2)

       driverStandingsId  raceId  driverId  points  position positionText  wins
32246              69309    1014       832    10.0        11           11     0
32247              69310    1014       817     6.0        12           12     0

## new RaceId

In [233]:
new_driverstandings = set_new_raceId(new_driverstandings)

In [234]:
new_driverstandings

       driverStandingsId  raceId  driverId  points  position positionText  wins
32246              69309    1015       832    10.0        11           11     0
32247              69310    1015       817     6.0        12           12     0
32248              69311    1015       154     1.0        17           17     0
32249              69312    1015         9     0.0        20           20     0
32250              69313    1015       841     0.0        18           18     0
32251              69314    1015       848     3.0        15           15     0
32252              69315    1015       842    21.0         6            6     0
32253              69316    1015       840     4.0        14           14     0
32254              69317    1015         8    13.0         9            9     0
32255              69318    1015       844    57.0         5            5     0
32256              69319    1015       830    66.0         3            3     0
32257              69320    1015         1   112.0         1            1     3
32258              69321    1015       815    13.0         8            8     0
32259              69322    1015       826     3.0        16           16     0
32260              69323    1015       846    12.0        10           10     0
32261              69324    1015       822   105.0         2            2     2
32262              69325    1015       847     0.0        19           19     0
32263              69326    1015        20    64.0         4            4     0
32264              69327    1015       807     6.0        13           13     0
32265              69328    1015       825    14.0         7            7     0

In [250]:
# pipe
def new_driverStandings():
    return (create_new_race(driverstandings)
    .pipe(set_index_new_race)
    .pipe(new_driverStandingsId)
    .pipe(set_new_raceId)
        )

In [251]:
test1 = new_driverStandings()

TypeError: 'numpy.int64' object is not callable

In [247]:
test1

       driverStandingsId  raceId  driverId  points  position positionText  wins
32246              69308    1015       832    10.0        11           11     0
32247              69307    1015       817     6.0        12           12     0
32248              69306    1015       154     1.0        17           17     0
32249              69305    1015         9     0.0        20           20     0
32250              69303    1015       841     0.0        18           18     0
32251              69302    1015       848     3.0        15           15     0
32252              69299    1015       842    21.0         6            6     0
32253              69297    1015       840     4.0        14           14     0
32254              69296    1015         8    13.0         9            9     0
32255              69293    1015       844    57.0         5            5     0
32256              69291    1015       830    66.0         3            3     0
32257              69290    1015         1   112.0         1            1     3
32258              69301    1015       815    13.0         8            8     0
32259              69298    1015       826     3.0        16           16     0
32260              69300    1015       846    12.0        10           10     0
32261              69289    1015       822   105.0         2            2     2
32262              69304    1015       847     0.0        19           19     0
32263              69292    1015        20    64.0         4            4     0
32264              69295    1015       807     6.0        13           13     0
32265              69294    1015       825    14.0         7            7     0